* {
  color: #F5F5F5;
}

.logo {
  font-size: 7vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

a {
  text-decoration-line: none;
}

.containerInfomratiiProdusSiVanzator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2em;
  margin-top: 1em;
}
.containerInfomratiiProdusSiVanzator .containerProdus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  padding: 1.2em;
  border-radius: 17px;
  margin-left: 1.2em;
  min-width: 48vw;
  gap: 1em;
  max-height: 34em;
}
.containerInfomratiiProdusSiVanzator .containerProdus .produs {
  max-height: 20em;
  min-width: auto;
  min-height: 20em;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.7em;
}
.containerInfomratiiProdusSiVanzator .containerProdus .containerPoze {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #212121;
  padding: 0.8em;
  gap: 1em;
  border-radius: 17px;
  min-width: 100%;
}
.containerInfomratiiProdusSiVanzator .containerProdus .containerPoze .containerPoza {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  padding: 0.7em;
  border-radius: 17px;
}
.containerInfomratiiProdusSiVanzator .containerProdus .containerPoze .containerPoza img {
  border-radius: 17px;
  max-width: 7em;
  max-height: 7em;
  min-height: 7em;
  min-width: 7em;
  -o-object-fit: cover;
     object-fit: cover;
}
.containerInfomratiiProdusSiVanzator .containerProdus .containerPoze .containerPoza:hover {
  background-color: #616161;
}
.containerInfomratiiProdusSiVanzator .containerProdus .containerPoze .containerPoza:active {
  background-color: #757575;
}
.containerInfomratiiProdusSiVanzator .containerInformatii {
  background-color: #424242;
  padding: 1em;
  border-radius: 17px;
  min-height: 33.4em;
  min-width: 45vw;
  margin-right: 1em;
}
.containerInfomratiiProdusSiVanzator .containerInformatii .containerCuloareNegru {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  background-color: #212121;
  padding: 1em;
  border-radius: 17px;
  gap: 1em;
  min-width: 45vw;
  min-height: 31em;
}
.containerInfomratiiProdusSiVanzator .containerInformatii .containerCuloareNegru .containerInformatiiProfil {
  background-color: #424242;
  padding: 1em;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
.containerInfomratiiProdusSiVanzator .containerInformatii .containerCuloareNegru .containerInformatiiProfil img {
  border-radius: 17px;
  max-height: 9em;
  max-width: 11em;
}
.containerInfomratiiProdusSiVanzator .containerInformatii .containerCuloareNegru .containerInformatiiProfil .containerAlteInformatii {
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5em;
}
.containerInfomratiiProdusSiVanzator .containerInformatii .containerCuloareNegru .containerInformatiiProdus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #424242;
  border-radius: 17px;
  padding: 1em;
  font-size: 1.6em;
  gap: 0.2em;
}
.containerInfomratiiProdusSiVanzator .containerTaguri {
  background-color: #424242;
  padding: 0.7em;
  border-radius: 17px;
}
.containerInfomratiiProdusSiVanzator .containerTaguri .containerCuloareNegru {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  min-width: auto;
  min-height: auto;
}
.containerInfomratiiProdusSiVanzator .containerTaguri .containerCuloareNegru .tag {
  background-color: #424242;
  padding: 0.4em;
  border-radius: 10px;
}

.containerDescriereProdus {
  background-color: #424242;
  padding: 2em;
  margin-top: 1em;
}
.containerDescriereProdus .labelDescriere {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.containerDescriereProdus .descriere {
  font-size: 1.4em;
}

.containerAlteProduse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 1.5em;
}
.containerAlteProduse .labelAlteProduse {
  font-size: 2.5em;
  align-self: center;
}/*# sourceMappingURL=paginaProdus.css.map */