@import './utils/reset';
@import './utils/flexBox';
@import './utils/culori';

.card {
  @include flexBox(column, space-around, center);
  background-color: $culoare7;
  padding: 1em;
  border-radius: 17px;
  min-height: 11em;
  gap: 0.2em;
  img {
    $marimeImg: 10em;
    object-fit: cover;
    max-width: $marimeImg;
    min-height: $marimeImg;
    min-width: $marimeImg;
    max-height: $marimeImg;
  }
  .text {
    font-size: 1.5em;
  }
}

.card:hover {
  background-color: $culoare6;
}

.card:active {
  background-color: $culoare5;
}
