@import './utils/culori';
@import './utils/flexBox';
@import './utils/font';
@import './utils/reset';

.containerInfomratiiProdusSiVanzator{
  @include flexBox(row,space-between,flex-start);
  gap: 2em;
  margin-top: 1em;
  .containerProdus{
    @include flexBox(column, center, center);
    background-color: $culoare8;
    padding: 1.2em;
    border-radius: 17px;
    margin-left: 1.2em;
    min-width: 48vw;
    gap: 1em;
    max-height: 34em;
    .produs {
      max-height: 20em;
      min-width: auto;
      min-height: 20em;
      object-fit: cover;
      padding: 0.7em;
    }
    .containerPoze{
      @include flexBox(row, flex-start ,center);
      background-color: $culoare9;
      padding: 0.8em;
      gap: 1em;
      border-radius: 17px;
      min-width: 100%;
      .containerPoza{
        @include flexBox(row, center, center);
        background-color: $culoare8;
        padding: 0.7em;
        border-radius: 17px;
        img {
          border-radius: 17px;
          max-width: 7em;
          max-height: 7em;
          min-height: 7em;
          min-width: 7em;
          object-fit: cover;
        }
      }
      .containerPoza:hover {
        background-color: $culoare7;
      }
      .containerPoza:active {
        background-color: $culoare6;
      }
    }
  }
  .containerInformatii {
    background-color: $culoare8;
    padding: 1em;
    border-radius: 17px;
    min-height: 33.4em;
    min-width: 45vw;
    margin-right: 1em;
    .containerCuloareNegru {
      @include flexBox(column, flex-start, space-between);
      background-color: $culoare9;
      padding: 1em;
      border-radius: 17px;
      gap: 1em;
      min-width: 45vw;
      min-height: 31em;
      .containerInformatiiProfil{
        background-color: $culoare8;
        padding: 1em;
        border-radius: 17px;
        @include flexBox(row,flex-start,center);
        gap: 1em;
        img {
          border-radius: 17px;
          max-height: 9em;
          max-width: 11em;
        }
        .containerAlteInformatii {
          font-size: 1.6em;
          @include flexBox(column, space-between, flex-start);
          gap: 0.5em;
        }
      }
      .containerInformatiiProdus{
        @include flexBox(column,center,flex-start);
        background-color: $culoare8;
        border-radius: 17px;
        padding: 1em;
        font-size: 1.6em;
        gap: 0.2em;
      }
    }
  }
  .containerTaguri {
    background-color: $culoare8;
    padding: 0.7em;
    border-radius: 17px;
    .containerCuloareNegru{
      @include flexBox(row,flex-start,center);
      flex-wrap: wrap;
      gap: 0.5em;
      min-width: auto;
      min-height: auto;
      .tag{
        background-color: $culoare8;
        padding: 0.4em;
        border-radius: 10px;
      }
    }
  }
}

.containerDescriereProdus {
  background-color: $culoare8;
  padding: 2em;
  margin-top: 1em;
  .labelDescriere{
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  .descriere{
    font-size: 1.4em;  
  }
}

.containerAlteProduse {
  @include flexBox(column,center,space-between);
  .labelAlteProduse {
    font-size: 2.5em;
    align-self: center;
  }
  gap: 1.5em;
}